<link rel="stylesheet" href="/styles/navbar.css">

</form>
<div class="container">
  <div class="left-side">
    <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
      <span class="logo">Logo</span>
  </div>
  <div class="right-side">
    <ul class="nav-links">
      <li>Home</li>
      <li>Blog</li>
    </ul>
  </div>
</div>